<?xml version="1.0"?>
<model>
  <name>marker-20_massless</name>
  <version>1.0</version>
  <description>
    Aruco marker 20 with no mass
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>marker-20_massless.sdf</sdf>
</model>


